.headerSearchForm {
  display: flex;
  align-items: center;
  flex: 1;

  &Input {
    border-radius: 100px 0 0 100px;

    border-color: hsla(var(--hsl-white), 0.2);

    &:focus-within {
      border-color: hsla(var(--hsl-white), 0.8);
    }
  }

  & > button {
    padding-block: calc(0.8rem + 2px);

    border-radius: 0 100px 100px 0;
  }
}
