.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;

  padding: 0.3rem calc(2rem - 0.7rem);

  background-color: hsl(var(--hsla-bg-primary-alpha-09));
  backdrop-filter: blur(var(--bdf-primary-blur));

  box-shadow: var(--bxs-primary) hsla(var(--hsla-bxs-primary-alpha-025));
}
