.primaryLink {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: 100px;

  padding: 0.7rem 1.5rem;

  color: inherit;

  -webkit-tap-highlight-color: transparent;

  transition: background-color 200ms ease, color 200ms ease;

  &._dangerType {
    [data-ripple-element] {
      background-color: hsl(var(--hsl-error-bg-primary));
    }
  }

  &._isBackgroundColor {
    background-color: hsla(var(--hsla-bg-primary-purple-alpha-02));

    &._grayType {
      background-color: hsl(var(--hsl-bg-primary-gray));
    }

    &._dangerType {
      background-color: hsl(var(--hsl-error-bg-primary));
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .primaryLink._isHovering:hover {
    background-color: hsla(var(--hsla-bg-primary-purple-alpha-03));

    &._grayType {
      background-color: hsla(var(--hsl-bg-primary-gray));
    }

    &._dangerType {
      color: hsl(var(--hsl-error-text-primary));

      background-color: hsla(var(--hsla-error-bg-primary-alpha-02));
    }
  }
}
