.primaryLink {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  border-radius: 100px;

  padding: 0.7rem 1.5rem;

  color: inherit;

  touch-action: none;
  -webkit-tap-highlight-color: transparent;

  transition: background-color 200ms ease, color 200ms ease;

  &._dangerType {
    [data-ripples-element] {
      background-color: hsl(var(--hsl-secondary-red));
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .primaryLink._isHovering:hover {
    background-color: hsla(var(--hsla-primary-purple-highlight));

    &._dangerType {
      color: hsl(var(--hsl-primary-red));

      background-color: hsla(var(--hsla-secondary-red-highlight));
    }
  }
}
