.sidebar {
  flex-shrink: 0;

  position: sticky;
  top: var(--hg-header);
  left: 0;

  max-width: 250px;
  height: calc(100vh - var(--hg-header));

  padding-inline: 0.5rem;

  background-color: hsla(var(--hsla-bg-primary-alpha-07));

  overflow: auto;

  &Nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    gap: 0.5rem;

    &List {
      display: flex;
      flex-direction: column;

      gap: 0.5rem;

      padding-block: 0.5rem;

      &Separater {
        display: block;
        width: 100%;
        height: 3px;

        border-radius: 100px;

        background-color: hsl(var(--hsl-bg-primary-gray));
      }

      &Item {
        &Link {
          display: flex;
          align-items: center;
          gap: 1rem;

          color: inherit;

          &Icon {
            flex-shrink: 0;
            font-size: 1.5rem;
          }

          &Text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 0.875rem;
          }

          ._collapsed & {
            border-radius: var(--br-primary-radius);

            padding: 1rem 1.5rem;

            &Text {
              display: none;
            }
          }
        }
      }
    }
  }
}
