.inputElement {
  --border-width: 2px;
  --br-color: hsl(var(--hsla-bg-primary-purple-alpha-03));
  --br-focused-color: hsl(var(--hsl-bg-primary-purple));
  --padding: 1rem;

  position: relative;

  flex: 1;


  &Wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;

    border: var(--border-width) solid var(--br-color);

    border-radius: 100px;

    transition: border-color 200ms ease;

    &:focus-within {
      border-color: hsl(var(--br-focused-color));
    }
  }

  &LeadingIcon {
    position: relative;
    overflow: hidden;

    flex-shrink: 0;

    padding: var(--padding);

    -webkit-tap-highlight-color: transparent;
  }

  input {
    width: 100%;
    flex: 1;

    padding: calc(var(--padding) - var(--border-width) * 2) 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &TrailingIcon {
    border-radius: 0;

    flex-shrink: 0;

    padding: var(--padding);
  }

  &SearchResult {
    position: absolute;
    top: 115%;
    left: 50%;
    width: 140%;

    border-radius: var(--br-primary-radius);
    overflow: hidden;

    background-color: hsl(var(--hsl-bg-primary));

    box-shadow: var(--bxs-primary) hsla(var(--hsla-bxs-primary-alpha-025));

    transform: translate3d(-50%, 0, 0);
  }

  &._alternateStyle {
    .inputElementWrapper {
      border-radius: 0;
      border: none;
      border-bottom: var(--border-width) solid var(--br-color);

      &:focus-within {
        border-color: hsl(var(--br-focused-color));
      }
    }

    .inputElementLeadingIcon {
      border-radius: 100px;
    }

    .inputElementTrailingIcon {
      border-radius: 100px;
    }

  }
}
