.inputElement {
  --border-width: 2px;
  --padding: 1rem;

  display: flex;
  align-items: center;

  border: var(--border-width) solid hsl(var(--hsla-bg-primary-purple-alpha-03));
  border-radius: 100px;

  overflow: hidden;

  flex: 1;

  transition: border-color 200ms ease;

  &LeadingIcon {
    position: relative;
    overflow: hidden;

    flex-shrink: 0;

    padding: var(--padding);

    -webkit-tap-highlight-color: transparent;
  }

  input {
    width: 100%;
    flex: 1;

    padding: calc(var(--padding) - var(--border-width) * 2) 0.5rem;

    &:focus {
      outline: none;
    }
  }

  &TrailingIcon {
    border-radius: 0;

    flex-shrink: 0;

    padding: var(--padding);
  }

  &:focus-within {
    border-color: hsl(var(--hsl-bg-primary-purple));
  }
}
