.checkboxElement {
  display: flex;

  transition: background-color 200ms ease;

  label {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    padding: 0.7rem 1.5rem;

    -webkit-tap-highlight-color: transparent;

    transition: background-color 200ms ease;
  }

  input {
    width: 0;
    height: 0;
  }

  &Switcher {
    --hsl-bg: var(--hsl-bg-primary-lightness-10);
    --hsl-checked-bg: var(--hsl-bg-primary-purple);

    position: relative;

    width: 2.2rem;
    height: 0.7rem;

    border-radius: 100px;

    background-color: hsl(var(--hsl-bg));

    transition: background-color 200ms ease;

    span {
      --border-width: 2px;

      position: absolute;
      top: 50%;
      left: 0;

      width: calc(1rem + var(--border-width));
      height: calc(1rem + var(--border-width));

      border: var(--border-width) solid hsl(var(--hsl-bg));

      border-radius: 50%;

      transform: translate(0, -50%);

      background-color: hsl(var(--hsl-text-main));

      transition: background-color 200ms ease, left 200ms ease,
        border-color 200ms ease;
    }

    ._checked & {
      background-color: hsl(var(--hsl-checked-bg));

      span {
        left: calc(1rem + var(--border-width));

        background-color: hsl(var(--hsl-bg-primary));

        border-color: hsl(var(--hsl-checked-bg));
      }
    }
  }

  &Check {
    --border-width: 2px;
    --hsl-br: var(--hsl-text-main);

    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(1.2rem + var(--border-width));
    height: calc(1.2rem + var(--border-width));

    border: var(--border-width) solid hsl(var(--hsl-br));

    border-radius: var(--br-primary-radius);

    transition: border-color 200ms ease, background-color 200ms ease;

    ._checked & {
      span {
        opacity: 1;
        visibility: visible;

        transform: translate(0, 0);
      }
    }

    span {
      opacity: 0;
      visibility: hidden;

      transform: translate(-10px, 0);

      transition: opacity 200ms ease, visibility 200ms ease,
        transform 200ms ease;
    }
  }

  &:focus-within {
    outline: none;

    background-color: hsla(var(--hsla-bg-primary-purple-alpha-02));
  }

  @media (hover: hover) and (pointer: fine) {
    label:hover {
      background-color: hsla(var(--hsla-bg-primary-purple-alpha-03));
    }
  }
}
