.primaryButtonContextMenu {
  position: relative;

  &Wrapper {
    position: absolute;
    top: 100%;
    right: 0;

    opacity: 0;
    visibility: hidden;

    border-radius: var(--br-primary-radius);

    transform-origin: top right;
    transform: scale(0.8);

    width: max-content;
    max-width: 400px;

    padding-block: 0.5rem;

    background-color: hsla(var(--hsl-bg-primary), 0.8);
    backdrop-filter: blur(var(--bdf-primary-blur));

    box-shadow: var(--bxs-primary) hsla(var(--hsla-bxs-primary-alpha-025));

    transition: opacity 200ms ease, visibility 200ms ease, transform 200ms ease;

    button,
    a {
      border-radius: 0;

      padding: 0.7rem 1.5rem;
      display: block;
      width: 100%;
      text-align: left;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &._open {
      opacity: 1;
      visibility: visible;

      transform: scale(1);
    }
  }
}
