.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &Button {
    font-size: 1.5rem;
  }

  &Container {
    border-radius: var(--br-primary-radius);

    flex: 1;
    touch-action: pan-y;

    overflow: hidden;

    position: relative;

    transition: height 400ms ease;
  }

  &Track {
    position: absolute;
    left: 0;
    top: 0;

    user-select: none;

    height: inherit;

    display: flex;
    align-items: center;

    transition: transform 400ms ease;

    ._isSwiping & {
      transition: none;
    }
  }

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    flex-shrink: 0;

    border-radius: var(--br-primary-radius);

    img {
      background-color: hsl(var(--hsl-bg-primary-gray));

      border-radius: inherit;
    }
  }
}
