@import "@/styles/functions.scss";

.new {
  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: var(--br-primary-radius);
  overflow: hidden;

  background-color: hsl(var(--hsl-bg-primary));

  &Img {
    position: relative;
    height: px-clamp(200, 250);

    overflow: hidden;
    background-color: hsl(var(--hsl-bg-primary-lightness-10));

    img {
      margin: auto;
      object-fit: cover;
      object-position: center;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    flex-grow: 1;

    &Title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      font-size: 1.25rem;
    }

    &Text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }

    &Footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: auto;
      gap: 1rem;

      &Time {
        white-space: nowrap;
        font-size: 0.875rem;
        color: hsla(var(--hsla-text-main-alpha-07));
      }

      &Link {
        color: hsl(var(--hsl-text-primary-purple));
      }
    }
  }
}
