.listProductItem {
  display: flex;

  border-radius: 0;

  gap: 1rem;

  &Img {
    flex-shrink: 0;

    border-radius: 50%;

    img {
      border-radius: inherit;
    }
  }

  &Content {
    &Title {
      margin-bottom: 0.3rem;
    }
    &Text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;

      font-size: 0.875rem;
    }
  }
}