@import "../functions.scss";

.form {
  display: flex;
  flex-direction: column;
  // padding-inline: 3rem;
  max-width: 700px;
  margin: 0 auto;

  gap: 1rem;

  &Inputs {
    display: flex;
    flex-direction: column;

    gap: 0.7rem;
  }

  &Checkboxes {
    display: flex;
    flex-direction: column;

    gap: 0.7rem;
  }

  &Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    > button {
      padding: 0.7rem 1rem;
    }
  }
}

.fieldset {
  legend {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .formInputs {
    padding-inline: 1rem;
  }
}
