.tabs {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsl(var(--hsl-bg-primary));

  border-radius: var(--br-primary-radius);

  padding: 0.2rem 0.3rem;

  &Radio {
    border-radius: var(--br-primary-radius);

    &:not(:last-child) {
      &:after {
        content: '';

        display: block;

        width: 1px;
        height: 2rem;

        border-radius: 100px;

        margin: auto 0.3rem;

        background-color: hsl(var(--hsl-bg-primary-gray));
      }
    }
  }
}