.headerActionsNotify {
  &Indicator {
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;

    width: 0.5rem;
    height: 0.5rem;

    border-radius: 50%;

    background-color: hsl(var(--hsl-primary-purple));
  }

  &Header {
    justify-content: space-between;

    &ActionButtons {
      display: flex;
      align-items: center;
      gap: 0.2rem;
    }
  }

  &Item {
    display: flex;
    align-items: center;
    gap: 1rem;

    border-radius: 0;

    &Img {
      flex-shrink: 0;

      border-radius: 50%;

      img {
        border-radius: inherit;

        background-color: hsla(var(--hsla-white-highlight));
      }
    }

    &Content {
      color: hsla(var(--hsl-white), 0.8);

      ._newNotify & {
        color: hsl(var(--hsl-white));
      }
    }

    &Indicator {
      display: none;

      width: 0.5rem;
      height: 0.5rem;

      border-radius: 50%;

      background-color: hsl(var(--hsl-primary-purple));

      ._newNotify & {
        display: inline-block;
      }
    }

    &Title {
      font-size: 1rem;

      display: flex;
      align-items: center;

      margin-bottom: 0.2rem;

      gap: 0.5rem;

      &Text {
        flex: 1;

        p {
          max-width: 13em;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &Text {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;

      font-size: 0.875rem;
    }

    &Time {
      font-size: 0.875rem;
    }
  }
}
