.quantityElement {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  &Input {
    max-width: 2.5rem;

    input {
      padding: 0.4rem;
      font-size: 0.875rem;
      text-align: center;
    }
  }

  button {
    padding: 0.8rem;
    font-size: 0.875rem;
  }
}
