.radioSelectElement {
  display: flex;

  label {
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    border-radius: inherit;

    padding: 0.8rem 1.5rem;

    width: 100%;

    -webkit-tap-highlight-color: transparent;

    transition: background-color 200ms ease;

    p {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &:focus-within {
    label {
      outline: auto;
    }
  }

  &Icon {
    display: inline-block;

    font-size: 1.5rem;
    flex-shrink: 0;

    opacity: 0;
    visibility: hidden;

    transition: opacity 200ms ease, visibility 200ms ease;

    ._checked & {
      opacity: 1;
      visibility: visible;
    }
  }

  input {
    width: 0;
    height: 0;
  }

  &._labelIcon {
    label {
      padding: 0.8rem 1.2rem;
    }

    &._checked {
      label {
        background-color: hsla(var(--hsl-bg-primary-purple), 0.4);
      }
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &:not(._labelIcon) label:hover {
      background-color: hsla(var(--hsla-bg-primary-purple-alpha-03));
    }
  }
}
