.headerActionsCart {
  &Header {
    justify-content: space-between;
  }

  &Count {
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;

    user-select: none;
    pointer-events: none;

    font-size: 0.75rem;

    background-color: hsl(var(--hsl-bg-primary-purple));

    padding: 0 0.3rem;
    border-radius: 100px;
  }

  &Item {
    padding-inline: 1rem;

    &:not(:last-child)::after {
      content: '';

      display: block;

      width: 100%;
      height: 2px;

      margin-block: 1rem;

      border-radius: 100px;

      background-color: hsla(var(--hsl-bg-primary-gray));
    }
  }

  &TotalPrice {
    span {
      color: hsl(var(--hsl-text-primary-purple));
    }
  }

  @media (hover: hover) and (pointer: fine) {
    &Empty {
      &Link:hover {
        &:after {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
  }
}
