.headerActionsProfile {
  &Header {
    gap: 0.5rem;

    padding: 1rem 1.5rem;

    &Avatar {
      max-width: fit-content;
      margin: auto;

      border-radius: 100px;
      padding: 0.5rem;

      img {
        border-radius: 50%;

        background-color: hsla(var(--hsla-text-main-alpha-02));
      }
    }

    &Info {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;

      font-size: 0.875rem;
      color: hsla(var(--hsla-text-main-alpha-07));

      &Name {
        font-size: 1rem;
        color: hsl(var(--hsl-text-main));
      }
    }
  }

  &__separator {
    display: inline-block;

    width: 100%;
    height: 2px;

    margin-block: 0.2rem;

    background-color: hsla(var(--hsla-text-main-alpha-02));
    border-radius: 100px;
  }

  &Item {
    &Link {
      display: flex;
      align-items: center;
      gap: 1rem;

      width: 100%;

      padding: 0.8rem 1.5rem;

      border-radius: 0;

      &Icon {
        flex-shrink: 0;
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
